.menulist{
  display:flex;
  flex-direction:row;
  align-items:center;
  height:42px;
  background-color:rgba(248, 249, 251, 1);
  border-radius:5px 5px 0 0;
  padding:0 30px;
  list-style:none;
  border-bottom:1px solid rgba(236, 237, 241, 1);
  margin:0 0 15px;
  li{
    padding:13px 20px 10px;
    cursor: pointer;
    color:rgba(153, 153, 153, 1);
    position:relative;
    &:hover{
      color:rgba(51, 51, 51, 1);
    }
    &.active{
      color:rgba(51, 51, 51, 1);
      &::before{
        content:'';
        display: inline-block;
        width:50%;
        height:4px;
        position:absolute;
        left:25%;
        bottom:-1px;
        background:rgba(68, 132, 232, 1);
      }
    }
  }
}
